node_modules
# Local Netlify folder
.netlify

# OS files
.DS_Store
**/.DS_Store

# Environment files
.env
.env.*
!.env.example

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Misc
.instructions.md
.repo_ignore
package-lock.json
